.ui.secondary.menu {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;

  .item {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-svg {
      width: 160px;
      height: 55px;
    }

    .logo-title {
      text-align: center;
      text-transform: none !important;
    }
  }

}